@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-color: black;
    font-family: "Roboto", serif;
    
}
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1700px, 100vw);
    height: 90vh;
    position: relative;

}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 11px 10vw;
}

.navbar img {
    position: relative;
    z-index: 10;
    width: 148px;
    opacity: 0.9;
}

.navbar button {
    position: relative;
    z-index: 10;
    width: 76px;
    height: 32px;
    font-weight: bold;
    border-radius: 3px;
    /* border: none; */
}

.hero {
    height: calc(100% - 84px);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto", serif;
    gap: 23px;
}

.hero > :nth-child(1) {
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
    margin: 0 28vw;
}
.hero > :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}
.hero > :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.language{
    background-color: transparent;
    border: 1px solid rgb(117, 117, 117);
    color: white;
}
.sign{
    background-color:rgb(210, 0, 0);
    color: white;
    border: none;
}
.start{
    font-size: 20px;
    background-color: rgb(229, 9, 20);
    color: white;
    font-weight: bold;
    font-weight: 500;
    width: auto;
    border: none;
    border-radius: 3px;
    /* height: 40px; */
    padding:10px 20px;
    margin-top: 0;
    /* padding-top: 5px; */

}
.emailinput{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 3px;
    padding: 9px 8px;
    color: white;
    min-height: 16px;
    min-width: 200px;
    line-height: 1.5;
}
.line{
    background-color: rgb(67, 67, 67);
    height: 6px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    margin: 100px auto;
}
.secimg{
    position: relative;
}
.secimg img{
    top: 10px;
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg video{
    width: 22vw;
    position: absolute;
    right: 4.1vw;
    top: 79px;
}
.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: 500;
}
.first > div :nth-child(2){
    font-size: 24px;
    /* font-weight: bold; */
}
.third .secimg video{
    top: 69px;
    width: 25vw;
}
.faq{
    background-color: black;
    color: white;
    margin-bottom: 100px;
}
.faq h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 34px;
    margin-top:9vh;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 24px;
    font-size: 20px;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer; 
    transition: all 0.3s ease-out;
}
.faqbox:hover{
    background-color: #414141;
}
footer .questions{
    padding:32px 0;
    color: #ffffffb3;
    margin:0 15vw;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;
    max-width: 70vw;
    margin: auto;
    margin-bottom: 70px;
}

.footeritem{
     display: flex;
     flex-direction: column;
     gap: 16px;
}
.footer a{
    font-size: 14px;
    color: #ffffffb3;
}